*   {
    box-sizing: border-box;
    outline: none;
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.main { 
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    display: grid;
    box-shadow: inset 8px 8px 15px rgb(245, 245, 245), 8px 8px 15px rgb(238, 238, 238) ; 
}

/* layar */
input {
    height: 50px;
    width: 280px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    border: none;
    color: rgb(66, 66, 66);
    padding: 20px;
    box-shadow: 8px 8px 15px rgb(238, 238, 238) ; 
    font-size: xx-large;
    text-align: right;
}

button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 8px 15px rgb(238, 238, 238) ; 
    margin: 7px;
    font-size: x-large;
    color: rgb(112, 112, 112);
    font-weight : bold;

}

.equal-sign{
    width: 120px;
}

.operator, .equal-sign, .percentage{
    background-color: rgb(255, 233, 191);
}

button:hover {
    background-color: rgb(216, 216, 216);
    transition: 0.5s;
}

button:active {
    height: 47px;
    width: 47px;
    background-color: rgb(134, 134, 134);
}